/second-week/goBarber-node-project/node_modules

/second-week/goBarber-node-project/tmp/*
! /second-week/goBarber-node-project/tmp/.gitkeep

second-week/goBarber-node-project/.env
/second-week/goBarber-node-project/.env
